body {
  padding: 0 10px;
  margin: 0;
  font-family: monospace;
  background-color: #111;
  color: #ddd;
  white-space: pre-line;
  max-width: 620px;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

code, pre {
  background-color: rgb(63, 63, 63);
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 -3px;
}

pre {
  background-color: rgb(43, 43, 43);
}

.error {
  color: darkred;
}

.callout, a.link_preview p, table {
  border: solid 1px rgb(180, 180, 180);
  border-radius: 3px;
  padding: 10px;
  background-color: rgb(43, 43, 43);
}

a.link_preview:hover p {
  background-color: rgb(63, 63, 63);
}

a.link_preview {
  text-decoration: none;
}

tr:not(:last-child) td, tr:not(:last-child) th {
  padding-bottom: 4px;
  border-bottom: solid 1px rgb(180, 180, 180);
}
